<div class="alert" [ngClass]="alerta" role="alert">
    A simple primary alert—check it out!
</div>

<button class="btn btn-outline-success" (click)="alerta = 'alert-success'">Success</button>
<button class="btn btn-outline-success" (click)="alerta = 'alert-warning'">Warning</button>

<br><br>
<h3 [ngClass]="{'text-danger': propiedades['danger'], 'text-info': !propiedades['danger']}">
    Hola Mundo loco
</h3>


<button class="btn btn-danger" 
        (click)="propiedades.danger=!propiedades.danger">Cambiar</button>

<br>
<br>
<br>

<button class="btn btn-success" 
        (click)="ejecutar()"
        [disabled]="loading">
        <i [ngClass]="{ 'fa-save': !loading, 'fa-sync fa-spin': loading }" class="fa"></i> 
        <span *ngIf="!loading">Guardar Cambios</span>
        <span *ngIf="loading">Espere por favor</span>
</button>